**/.idea
**/.vscode
**/venv
**/__pycache__
**/build
**/cmake-build-debug

implementacion/dependencies/eigen

informe/*.aux
informe/*.fdb_latexmk
informe/*.fls
informe/*.log
informe/*.out
informe/*.synctex.gz
informe/*.toc
informe/*.blg
informe/*.bbl

*.exe
experimentacion/**/out
experimentacion/**/in
